body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
}

main {
    width: 80%;
    margin: 20px auto;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.dark-mode section {
    background-color: #444;
}

h2 {
    color: #007bff;
}

.dark-mode h2 {
    color: #00aaff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.dark-mode input[type="text"], .dark-mode input[type="email"] {
    background-color: #555;
    border-color: #777;
    color: #f4f4f4;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #ddd;
    transition: background-color 0.3s;
}

.dark-mode footer {
    background-color: #444;
}

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}
.main-image{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
}
audio{
    width: 50%;
}
#darkModeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ddd;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.dark-mode #darkModeToggle {
    background-color: #555;
    color: white;
}
